.form-table th.title { font-size: 140%; font-weight: bold; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

#ui-datepicker-div {
	font-size: 90%;
	font-weight: bold;
}

.postbox label {
	padding-right: 5px;
}

.postbox input.enlace { min-width: 300px;  }

.column-logo { width: 60px !important; }
.column-posts { width: 90px !important; }

#galeria_imagenes_container li { list-style: none; display: inline-block; margin-right: 2px; }
#galeria_imagenes_container li img { width: 78px; height: auto; }
#add_gallery_image { clear: both; }

#publicitar label,
#hashtag label { display: inline-block; width: 80px; vertical-align: top; }
#publicitar div.row { padding-bottom: 5px; }
#publicitar #logo_container { width: 150px; }

/**** Repositorio de listado + botones para agregar y eliminar items del listado ****/
.repositorio,
#repositorios { display: none; }
.listado .invitacion { display: none; }
.listado .items:empty + .invitacion { display: initial; } 
.listado .items .item input,
.listado .items .item select { vertical-align: top; }

/**** Listado ordenable ****/
.listado.ordenable .item { margin-bottom: 5px; }
.listado.ordenable .item > * { vertical-align: top; height: 30px; margin: 5px 0; }
.listado.ordenable .item input[type=button] { border: none; background: #f2f1f0; height: 30px; cursor: pointer; }
.listado.ordenable .item .drag { height: 40px; width: 12px; background: url(../images/drag-bar.png) no-repeat center center #A7A7A7; display: inline-block; cursor: grab; margin: 0; }
.listado.ordenable .item.ui-sortable-helper .drag { cursor: grabbing; }

#template_slider .listado.ordenable input.sugerir,
#template_slider .listado.ordenable div.easy-autocomplete { width: calc(90% - 150px); display: inline-block; }

#template_slider .listado.ordenable div.easy-autocomplete input.sugerir { width: 100%; height: 2em; }

/**** Listado de colores ****/
.listado.colores input[type=text] { width: 200px; }
.listado.colores input.midlong[type=text] { width: 60px; }
