.modal .asignar,
.modal .eliminar,
.modal .definida { cursor: pointer; }

#imagen_cabecera { margin-top: 5px; }
#imagen_cabecera label { vertical-align: top; }

.modal { display: inline-block; text-align: center; }
.modal .definida { display: none; }
.modal.seleccionada .definida { display: block; }
.modal.seleccionada .asignar { display: none; }
.modal.seleccionada .eliminar { display: block; padding-top: 10px; text-align: center; } 
