<div class='caja'>	
	
	<div class='listado colores'>
		<div class='listado ordenable'>
			<div class='items'>{% for item in colores %}<div class='item'>
					<input type='color' name='colores[]' value='{{ item }}'>
					<input type='button' class='eliminar' value='-'> <input type='button' class='agregar' value='+'>
					<div class='drag'></div>
				</div>{% endfor %}</div>
			<div class='invitacion button'>Agregue colores</div>
			<div class='repositorio'>
				<div class='item'>
					<input type='color' name='colores[]'>
					<input type='button' class='eliminar' value='-'> <input type='button' class='agregar' value='+'>
					<div class='drag'></div>
				</div>
			</div>
		</div>
	</div>
		
</div>
