<div class='row'><label>Hashtag:</label> <input type="text" name="hashtag" value="{{ hashtag }}"></div>
<div class='row'><label>URL:</label> <input type="text" name="hashtag_link" value="{{ hashtag_link }}"></div>
